## Rule Refinement Template Notebook:

In this notebook, it is assumed that data has been mined from twitter and is present in a JSON format, in a local file.

This notebook will separate all tweets by tag, and then run sub-section analysis on each of the tag dataframes.

Users must manually look through the tweets (sadly), and classify what "good" and "bad" tweets are. 

Using simple data tidying, and intuitive methods (set difference between tokenized strings of "good and bad" tweets), we attempt to provide information to the user to properly refine their rules, and evaluate recent adjustments to their rules.

In [1]:
#Load our custom library. Ouputs files in local directory automatically.
from mods.dfprocess import *
pd.set_option('display.max_rows', 500)

['ProposedRules.txt', 'test6rules.twts', 'mergefile_r1-6_2.twts', 'exampletweets.txt', 'test6rules4.twts', 'test6rules2.twts', 'test6rules3.twts', 'selectedtweets.json', 'mergedfile_rule1-6.twts']

In [3]:
tweetDF = generatedataframe("./data/mergefile_r1-6_2.twts",5000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5088 entries, 0 to 5087
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tweetid        5088 non-null   int64
 1   text           5088 non-null   object
 2   created_at     5088 non-null   object
 3   tagid          5088 non-null   int64
 4   tag            5088 non-null   object
 5   userid         5088 non-null   int64
 6   username       5088 non-null   object
 7   rtcount        5088 non-null   int16
 8   repcount       5088 non-null   int16
 9   likecount      5088 non-null   int16
 10  qtcount        5088 non-null   int16
 11  tweet_type     5088 non-null   object
 12  ref_tweetid    5088 non-null   int64
 13  ref_authorid   5088 non-null   int64
 14  ref_rtcount    5088 non-null   int16
 15  ref_repcount   5088 non-null   int16
 16  ref_likecount  5088 non-null   int16
 17  ref_qtcount    5088 non-null   int16
dtypes: int16(8), int64(5), object(5)
memory usage: 477.1+ KB

In [4]:
tweetDF = cleanDF(tweetDF)
tweetDF.drop_duplicates(subset=["text"],inplace=True)
tweetDF = tweetDF[tweetDF['text'].astype(bool)]

In [5]:
#Get tags with: (dF.tag.unique()).tolist()
saiDF = getTagDF("HiddenMystery", "./data/selectedtweets.json",tweetDF)

In [6]:
#Now set your good tweets. Look through the outputted file manually.
goodTweets = [299,272,360]

In [7]:
#The main part of the show.
gDict = {}
bDict = {}
gSet = set()
bSet = set()

hold = setdiffprocess(saiDF,goodTweets,gSet,gDict,bSet,bDict)

In [8]:
#Set operations
goodWords = gSet.difference(bSet)
badWords = bSet.difference(gSet)
intWords = gSet.intersection(bSet)

In [9]:
#Display Top Words
disp_topwords(badWords,bDict,50)

             word  count
2161         have    108
2899        would     86
257          like     58
760          with     55
2869      thought     50
540         about     49
1379         time     40
1128         from     36
2530         what     35
1594         your     34
709          some     32
2337         they     31
669          when     29
318        people     27
1412         most     27
2431         it’s     26
3062    adventure     23
2254        being     23
1062  unthinkable     23
1570         love     22
2810        until     19
697        really     19
495          been     18
718         think     18
1145         know     17
294         time.     17
524         still     16
2982         find     15
1934         then     15
2686       things     15
1970        don’t     15
15           only     14
2370         very     14
964          good     14
1649        never     13
1473       always     12
1446         live     12
1853        today     12
694         other     12
2911         year     12
1401         into     12
2902         ever     11
778        school     11
2507         till     11
724        become     11
1192    something     11
23          these     11
2714         back     11
800          high     10
2835         feel     10

In [ ]:
#Display Top Bad Words

**Conclusion:** I didn't get enough hits to do a good analysis. Will take out "jojo" "adventure", school. Effect will not be that great, I think